<!-- views/cart.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
     <!-- Link your CSS file -->
</head>

<body>
    <style>
        /* public/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

    </style>
    <h1>My Wish listt</h1>
    <!-- Your cart items and content go here -->
    <a href="/">Go back to Product Description Page</a>
</body>

</html>

