
body {
    background-color: rgb(250, 244, 244);
    color: white;
}
.product-card {
    background-color: grey;
    margin-bottom: 20px;
    padding: 20px; 
    text-align: center; 
}
.product-card img {
    display: block; 
    margin: 0 auto; 
}
.btn-buy {
    background-color: red; 
    border-color: darkred; 
    color: white; 
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.btn-buy:hover {
    background-color: darkred; 
    transform: scale(1.05);
}
.sidebar {
    background-color: #333;
    color: white;
    padding: 20px;
    height: 1000px;
}
.filter-label {
    margin-top: 10px;
    margin-bottom: 5px;
}
